/* Mobile View - Default */
root {
  background-color: red;
  background-color: lime;
  background-color: blue;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: red;
}
.container {
  min-height: 10rem;
  max-width: 75r;
  margin: auto;
  background-color: white;
  padding: 1rem;
}
#pageheader {
  background-color: none;
  min-height: auto;
  padding: 1rem;
}
#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: none;
  background-image: url(images/logosmall.png);
}

#pageheader .container {
  background-color: none;
  min-height: auto;
  text-align: center;
  padding: 0;
}
#pageheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#pageheader nav ul li {
  border: 2px solid rgb(255, 0, 0);
  padding: 1rem;
  background-color: rgb(255, 4, 0);
  margin: 2px;
  border-radius: 10px;
}
#pageheader nav ul li:hover {
  background-color: red;
}

#media {
  background-color: lightblue;
  /* min-height: 10rem; */
  height: 60vh;
  padding: 1rem;
  background-image: url(images/Hero.png);
  background-size: cover;
  /* aspect-ratio: 16/9; */
  background-position: center center;
}

#career {
  background-color: none;
  min-height: 10rem;
  padding: 1rem;
}

#pagecontent {
  background-color: lightgreen;
  min-height: 10rem;
  padding: 1rem;
}

#semester1 {
  background-color: rgb(255, 3, 3);
  min-height: 10rem;
  padding: 1rem;
}

#semester2 {
  background-color: red;
  min-height: 10rem;
  padding: 1rem;
}

#pagefooter {
  background-color: rgb(255, 0, 0);
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  text-align: center;
  min-height: auto;
}
#aifooter {
  background-color: rgb(255, 1, 1);
  padding: 1rem;
  min-height: auto;
}
#aifooter.container {
  text-align: center;
  min-height: auto;
}

#subfooter {
  background-color: rgb(255, 2, 2);
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  display: block;
  margin: auto;
  background-color: red;
  border: 5px solid red;
}
@media screen and (min-width: 500px;) {
  body {
    background-color: yellow;
  }
  #logo {
    margin: 0;
  }
}
blockquote {
  background-color: none;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  font-sizae: 1.25rem;
}

blockquote + span {
  padding: 1rem;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: right;
  font-size: 1.25rem;
}
span {
  background-color: none;
}
/* tablet view */
@media screen and(min-width:600px) {
  #pageheader nav ul {
    background-color: yellow;
    margin-top: 2rem;
  }
  #pageheader nav ul li {
    display: block;
  }
  #pagecontent {
    background-color: red;
  }

  #career {
    background-color: blue;
  }
}
